<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Account table</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
        <th>
          ID
        </th>
        <th>
          Currency
        </th>


        <th>
          Salary
        </th>
        </thead>
        <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            USA
          </td>

          <td class="text-primary">
            {{dolar | number: '1.2'}}
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            UAH
          </td>
          <td class="text-primary">
           {{rub | number: '1.2'}}
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            EURO
          </td>
          <td class="text-primary">
            {{account.value| number: '1.2'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
