<div class="container-fluid">
  <div class="card" *ngIf="!isLoading"> <app-loader></app-loader></div>
  <div *ngIf="isLoading" class="card">
    <div class="card-header card-header-tabs card-header-warning">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title">Cost:</span>
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="material-icons">bug_report</i> Total
                balance: {{account.value | number: '1.2'}} {{account.currency}}
                <div class="ripple-container"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let c of categories">
        <div class="col-md-6">
          <div class="n-progress" style="background-color: white;">
            <div class="progress-bar  {{getCatColorClass(c)}}" [ngStyle]="{width: getCatPercent(c)}">
              {{c.name}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>
            <span class="text-{{getCatColorClass(c)}}">{{getCategoryCost(c)| number: '1.2'}}</span>
            with<span class="text-{{getCatColorClass(c)}}">{{c.capacity| number: '1.2'}}</span>
            | total: <span class="text-{{getCatColorClass(c)}}">{{c.capacity - getCategoryCost(c) | number: '1.2'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
