<p class="text-xs-center">Registration for a access</p>
<div style="color:red;"
     *ngIf="message.text"
     class="alert alert-{{message.type}} ">{{message.text}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group"
       [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control underlined" placeholder="Your email" formControlName="email">
    <span
      *ngIf="form.get('email').invalid && form.get('email').touched   " class="form-help-text">
        <span *ngIf="form.get('email')['errors'] ['required'] ">Email dont null</span>
        <span *ngIf="form.get('email')['errors'] ['email'] ">Email not true</span>
 <span *ngIf="form.get('email')['errors'] ['forbiddenemail'] ">Email occupied </span>

      </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" class="form-control underlined" placeholder="Your password">
    <span
      *ngIf="form.get('password').invalid && form.get('password').touched   " class="form-help-text">
        <span *ngIf="form.get('password')['errors'] ['required'] ">Email dont null</span>
        <span *ngIf="form.get('password')['errors'] ['minlength'] && form.get('password')['errors'] ['minlength']['requiredLength']">Paasword more.
          {{form.get('password')['errors'] ['minlength']['requiredLength'] }}
          actualLengths = {{ form.get('password')['errors'] ['minlength']['actualLength']}}
        </span>

      </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
    <label for="name">Name</label>
    <input formControlName="name" type="text" class="form-control undefined"
    id="name" placeholder="Write name">
    <span  *ngIf="form.get('name').invalid && form.get('password').touched"
      class="form-help-text">Name dont null

    </span>

  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}">
    <label for="agree">
      <input formControlName="agree" type="checkbox" id="agree" class="checkbox">
      <span>Agree with the rules</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit"
            [disabled]="form.invalid"
            class="btn btn-block btn-primary">Registration</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      You has account?
      <a [routerLink]="'/login'">Login!</a>
    </p>
  </div>
</form>

