<div class="title-block">
  <h3 class="title">
    Page zapis <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Add event</h3>
          </div>
        </div>

        <div class="card-block">
          <form action="">
            <div class="form-group">
              <label for="category" class="control-label"> Change category</label>
              <select class="form-control" id="category">
                <option >Option one</option>
              </select>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
