<div class="container-fluid" *ngIf="!isLoading">
  <app-loader></app-loader>
</div>

<div class="container-fluid" *ngIf="isLoading">
  <div class="row">
    <div class="col-md-6">
      <app-add-event [categories]="categories"></app-add-event>
    </div>
    <div class="col-md-6">
      <app-add-category (onCategoryAdd)="newCategoryAdded($event)"></app-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdit($event)" ></app-edit-category>
    </div>
  </div>
</div>


