<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Notifications</h4>
      <p class="card-category">Handcrafted by our friend
        <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
        <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
      </p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4 class="card-title ">Notifications Style</h4>
          <div class="alert alert-info">
            <span>This is a plain notification</span>
          </div>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>This is a notification with close button.</span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <i class="material-icons" data-notify="icon">add_alert</i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">This is a notification with close button and icon.</span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <i class="material-icons" data-notify="icon">add_alert</i>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="card-title">Notification states</h4>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
                      <b> Info - </b> This is a regular notification made with ".alert-info"</span>
          </div>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
                      <b> Success - </b> This is a regular notification made with ".alert-success"</span>
          </div>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
                      <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
          </div>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
                      <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
          </div>
          <div class="alert alert-primary">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
                      <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="places-buttons">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h4 class="card-title">
              Notifications Places
              <p class="category">Click to view notifications</p>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('top','left')">Top Left</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('top','center')">Top Center</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('top','right')">Top Right</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('bottom','left')">Bottom Left</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('bottom','center')">Bottom Center</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" onclick="md.showNotification('bottom','right')">Bottom Right</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--      <div class="title-block">-->
<!--        <h3 class="title pull-left">-->
<!--          Page Score <span class="sparkline bar"></span>-->
<!--        </h3>-->
<!--        <div class="pull-right">-->
<!--          <button class="btn-sm btn btn-primary-outline"><i class="fa fa-refresh"></i></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <section class="section">-->
<!--        <div class="row">-->
<!--          <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">-->
<!--            <div class="card stats">-->
<!--              <div class="card-block">-->
<!--                <div class="title-block">-->
<!--                    <h4 class="title">Score</h4>-->
<!--                </div>-->
<!--                <div class="row row-sm stats-container">-->
<!--                  <div class="col-xs-12 stat-col">-->
<!--                    <div class="stat-icon"><i class="fa fa-rub"></i></div>-->
<!--                    <div class="stat">-->
<!--                      <div class="value">80.650</div>-->
<!--                    </div>-->
<!--                    <progress class="progress stat-progress" value="100">-->
<!--                      <div class="progress">-->
<!--                        <span class="progress-bar"></span>-->
<!--                      </div>-->
<!--                    </progress>-->
<!--                  </div>-->
<!--                  <div class="col-xs-12 stat-col">-->
<!--                    <div class="stat-icon"><i class="fa fa-doll"></i></div>-->
<!--                    <div class="stat">-->
<!--                      <div class="value">80.650</div>-->
<!--                    </div>-->
<!--                    <progress class="progress stat-progress" value="100">-->
<!--                      <div class="progress">-->
<!--                        <span class="progress-bar"></span>-->
<!--                      </div>-->
<!--                    </progress>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">-->
<!--            <div class="card">-->
<!--              <div class="card-block">-->
<!--                <div class="title-block">-->
<!--                  <h4 class="title">Сourse</h4>-->
<!--                </div>-->
<!--                <div class="row row-sm stats-container">-->
<!--                  <table class="table table-hover">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                      <th>Currency</th>-->
<!--                      <th>Сourse</th>-->
<!--                      <th>Date</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                      <td>USA</td>-->
<!--                      <td>24</td>-->
<!--                      <td>12.12.2020</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>EUR</td>-->
<!--                      <td>26</td>-->
<!--                      <td>12.12.2020</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>UA</td>-->
<!--                      <td>24</td>-->
<!--                      <td>12.12.2020</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                  </table>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
