<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Currency rate</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">

        <th>
          Currency
        </th>
        <th>
          Date
        </th>

        <th>
          Rate
        </th>
        </thead>
        <tbody>
        <tr>

          <td>
            EURO
          </td>
          <td>
           {{currency.date | appMoment: 'YYYY-MM-DD'}}
          </td>
          <td class="text-primary">
            27.30
          </td>
        </tr>
        <tr *ngFor="let c of curroncies">
          <td>
            {{c}}
          </td>
          <td >

            {{currency.date | appMoment: 'YYYY-MM-DD'}}
          </td>
          <td class="text-primary">
            {{ currency.rates[c] }}
          </td>


        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
