<div class="main-wrapper">
  <div class="app">
    <header class="header">
      <div class="header-block header-block-search">
        12:12:12
      </div>
      <div class="header-block header-block-nav">
        <div class="nav-profile">
          <li class="profile dropdown">
            <a href="#" class="nav-link dropdown-toggle">
            <span class="name">
              Hard play
            </span>
            </a>
            <div class="dropdown-menu profile-dropdown-menu">
              <a href="#" class="dropdown-item"><i class="fa fa-gear icon"></i>Sdelat zapis</a>
              
              <a href="#" class="dropdown-item"></a>
            </div>
          </li>
        </div>
      </div>
    </header>

    <aside class="sidebar">
    </aside>

    <article class="content dashboard-page">
      <router-outlet></router-outlet>

    </article>
  </div>
</div>


<router-outlet></router-outlet>
